/* 标签重定义 */
body {
    padding:0;
    margin:0;
    background: #ddd;
    font-family: 'Microsoft YaHei','微软雅黑', sans-serif;
    color: #666;
}
img {
    border:none;
}
a {
    text-decoration:none;
    color:#444;
}
a:hover {
    color:#999;
}
ul {
    margin: 0;
}
li {
    display: inline-block;
    margin-right: 1em;
}
#title {
    margin: 20px auto;
    text-align: center;
}
#title h2 {
    font-size: 4em;
    color: #FF9900;
}
.header {
    color: #F4EFF5;
    padding:0.1em 4em;
    background: #7C7C7C;
}
.nav {
    font-size: 1em;
    line-height: 2.5em;
    height: 2.5em;
}
.nav h2 {
    font-size: 1.8em;
    float: left;
    margin:0;
    padding: 0;
}
.nav ul {
    text-align: right;
}
.nav ul a {
    color:#F4EFF5;
}


/* 定义关键帧 */
@-webkit-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@-moz-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@-ms-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@-o-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}


/* 瀑布流样式 */
#wrap {
    width:auto;
    height:auto;
    margin:0 auto;
    position: relative;
}
#wrap .box {
    width:400px;
    height:auto;
    padding:10px;
    border:none;
    float: left;
}
#wrap .box .info {
    width:400px;
    height:auto;
    border-radius:8px;
    box-shadow: 0 0 11px #666;
    background: #fff;
}

#wrap .box .info .pic {
    width:350px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 15px;
}
#wrap .box .info .pic:hover {
    -webkit-animation:shade 3s ease-in-out 1;
    -moz-animation:shade 3s ease-in-out 1;
    -ms-animation:shade 3s ease-in-out 1;
    -o-animation:shade 3s ease-in-out 1;
    animation:shade 3s ease-in-out 1;
}

#wrap .box .info .pic img {
    width:350px;
    border-radius: 3px;
}
#wrap .box .info .pic p {
    line-height: 1.5em;
    font-size: 1.8em;
    word-wrap:break-word;
    padding:0;
    margin: 0;
}
#wrap .box .info .title {
    width:350px;
    height:70px;
    margin: 0 auto;
    line-height:2.2em;
    text-align:center;
    color:#666;
    font-size:2.0em;
    font-weight: bold;
    overflow:hidden;
}
.footer {
    background: #F9F9F9;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
    padding: 0 0 1em;
    margin-top: 5em;
    position: absolute;
    display: none;
    opacity: 1;
    width: 100%;
}
.footer .bottom a {
    color: #E8C99B;
}
.footer h4 {
    font-size: 1.4em;
    text-align: left;
    padding: 1em;
    color: #241103;
}
.footer p {
    font-size: 0.9em;
    color: #241103;
    line-height: 1.8em;
    text-align: centre;
    margin: 1.5em 0;
}
.bottom p {
    font-size: 1.1em;
    font-weight: 400;
    color: #aeaeae;
    line-height: 1.8em;
    text-align:center;
}
.bottom a {
    color: #d4a258;
}
.bottom a:hover {
    color: #241103;
}