/* 标签重定义 */
body {
    padding:0;
    margin:0;
    background: #ddd;
    font-family: 'Microsoft YaHei','微软雅黑', sans-serif;
    color: #666;
}
img {
    border:none;
}
a {
    text-decoration:none;
    color:#444;
}
a:hover {
    color:#999;
}
ul {
    margin: 0;
}
li {
    display: inline-block;
    margin-right: 1em;
}
#title {
    margin: 20px auto;
    text-align: center;
}
#title h2 {
    font-size: 4em;
    color: #FF9900;
}
.header {
    color: #F4EFF5;
    padding:0.1em 4em;
    background: rgba(0, 0, 0, 0.24);
}
.nav {
    font-size: 1em;
    line-height: 2.5em;
    height: 2.5em;
}
.nav h2 {
    font-size: 1.8em;
    float: left;
    margin:0;
    padding: 0;
}
.nav ul {
    text-align: right;
}
.nav ul a {
    color:#F4EFF5;
}


/* 定义关键帧 */
@-webkit-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@-moz-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@-ms-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@-o-keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}
@keyframes shade {
    from {opacity: 1;}
    15% {opacity: 0.4;}
    to {opacity: 1;}
}


/* 瀑布流样式 */
#wrap {
    width:auto;
    height:auto;
    margin:0 auto;
    position: relative;
}
#wrap .box {
    width:500px;
    height:auto;
    padding:10px;
    border:none;
    float: left;
}
#wrap .box .info {
    width:500px;
    height:auto;
    border-radius:8px;
    box-shadow: 0 0 11px #666;
    background: #fff;
}

#wrap .box .info .pic {
    width:400px;
    height:auto;
    margin: 0 auto;
    padding-bottom: 15px;
}
#wrap .box .info .pic:hover {
    -webkit-animation:shade 3s ease-in-out 1;
    -moz-animation:shade 3s ease-in-out 1;
    -ms-animation:shade 3s ease-in-out 1;
    -o-animation:shade 3s ease-in-out 1;
    animation:shade 3s ease-in-out 1;
}

#wrap .box .info .pic img {
    width:400px;
    border-radius: 3px;
}
#wrap .box .info .pic p {
    line-height: 1.6em;
    font-size: 1.6em;
    word-wrap:break-word;
    padding:0;
    margin: 0;
}
#wrap .box .info .title {
    width:400px;
    height:60px;
    margin: 0 auto;
    line-height:2.2em;
    text-align:center;
    color:#666;
    font-size:1.8em;
    font-weight: bold;
    overflow:hidden;
}